.u-s {
  display: none;

  @media (--s) {
    display: block;
  }
}

.u-sm {
  display: none;

  @media (--sm) {
    display: block;
  }
}

.u-md {
  display: none;

  @media (--md) {
    display: block;
  }
}

.u-lg {
  display: none;

  @media (--lg) {
    display: block;
  }
}

.u-xl {
  display: none;

  @media (--xl) {
    display: block;
  }
}

.u-s__max {
  display: none;

  @media (--s_max) {
    display: block;
  }
}

.u-sm__max {
  display: none;

  @media (--sm_max) {
    display: block;
  }
}

.u-md__max {
  display: none;

  @media (--md_max) {
    display: block;
  }
}

.u-lg__max {
  display: none;

  @media (--lg_max) {
    display: block;
  }
}

.u-xl__max {
  display: none;

  @media (--xl_max) {
    display: block;
  }
}

p {
  &.u-es {
    font-size: 10px;
  }

  &.u-s {
    font-size: 12px;
  }

  &.u-m {
    font-size: 13px;
  }

  &.u-l {
    font-size: 16px;
  }

  &.u-xl {
    font-size: 18px;
  }
}
