.contact-heading {
  margin-bottom: 10px;
  font-weight: bold;
  color: $color-main;
  font-size: 16px;

  @media (--md) {
    font-size: 18px;
  }

  @media (--lg) {
    font-size: 22px;
  }
}

.contact-form__outer,
.contact-complete__outer {
  background-color: $color-white;
}

.conctact-select {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
  background-color: $color-grey-light;

  @media (--md) {
    margin-bottom: 50px;
    padding: 40px;
  }

  @media (--xl) {
    margin-bottom: 60px;
    padding: 40px 100px;
  }

  .mwform-checkbox-field {
    width: 100%;
    margin: 0 0 6px 0;

    @media (--md) {
      width: 45%;
    }

    @media (--lg) {
      width: 30%;
      margin: 0 0 20px 0;

      &:nth-child(7),
      &:nth-child(8) {
        margin-bottom: 0;
      }
    }

    &.horizontal-item {
      margin-left: 0 !important;
    }
  }

  &::after {
    content: '';
    width: 30%;
  }
}

.contact-form__content {
  .require {
    display: inline-block;
    margin-left: 4px;
    font-weight: bold;
    font-size: 16px;
    color: $color-main;
  }

  .error {
    color: $color-main;
  }

  .table-list__heading {
    padding-top: 16px;

    @media (--sm) {
      display: flex;
      align-items: center;
      padding: 30px 0;
    }

    @media (--lg) {
      padding: 36px 0;
    }
  }

  .table-list__item {
    &:last-child {
      .table-list__heading {
        @media (--sm) {
          align-items: flex-start;
        }
      }
    }
  }

  .table-list__content {
    padding-bottom: 20px;

    @media (--sm) {
      padding: 30px 0 30px 30px;
    }

    @media (--lg) {
      padding: 35px 0 35px 30px;
    }
  }

  input[type="checkbox"] {
    border: 1px solid #ccc;
    border-radius: 0;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    font-size: 14px;

    @media (--sm) {
      width: 90%;
      padding: 10px;
    }

    &:focus {
      outline: 1px solid $color-main;
    }
  }

  textarea {
    @media (--lg) {
      height: 200px;
    }
  }
}

.contact-form__btnarea {
  padding: 10px 0 30px;
  text-align: center;

  @media (--md) {
    padding: 20px 0 20px;
  }

  @media (--lg) {
    padding: 45px 0 0;
  }

  input[type="submit"] {
    display: inline-block;
    padding: 20px 100px;
    background: $color-grey;
    color: $color-white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    border: none;
    -webkit-appearance: none;
    transition: .24s ease all;

    @media (--sm) {
      padding: 30px 160px;
    }

    @media (--md) {
      padding: 45px 240px;
      font-size: 16px;

      &:hover {
        color: $color-white;
        background: $color-main;
      }
    }
  }
}

.contact-form__send,
.contact-form__confirm {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url(../img/contact/contact-arrow.png) no-repeat center/cover;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    z-index: 2;

    @media (--sm) {
      width: 16px;
      height: 16px;
    }

    @media (--md) {
      width: 16px;
      height: 16px;
    }

    @media (--lg) {
      width: 20px;
      height: 20px;
    }
  }
}

.contact-complete {
  .contact-heading {
    margin: 10px 0 20px;
    text-align: center;

    @media (--md) {
      margin: 0 0 40px;
    }

    @media (--lg) {
      margin: 0 0 60px;
    }
  }

  .contact-complete__text {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    line-height: (24/14);

    @media (--md) {
      margin-bottom: 10px;
    }
  }

  .contact-complete__caution {
    margin-bottom: 30px;
    color: #9f9f9f;
    font-size: 12px;

    @media (--md) {
      margin-bottom: 50px;
    }
  }
}

.mw_wp_form_input {
  .contact-form__send {
    display: none;
  }
}

.mw_wp_form_confirm {
  .contact-heading,
  .contact-form__confirm {
    display: none;
  }

  .contact-form__btnarea {
    @media (--md) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .contact-form__send {
    input[type="submit"] {
      padding: 20px 100px;

      @media (--md) {
        padding: 30px 130px;
      }

      @media (--lg) {
        padding: 30px 160px;
      }
    }
  }

  .contact-form__back {
    margin-bottom: 20px;

    @media (--md) {
      margin-bottom: 0;
      margin-right: 20px;
    }

    input[type="submit"] {
      padding: 20px 100px;
      background-color: #ccc;
    }
  }
}
