footer {
  margin-bottom: 60px;
  padding: 30px 0;
  background: $color-grey;

  @media (--md) {
    margin-bottom: 0;
    padding: 50px 0 30px;
  }

  @media (--lg) {
    padding: 70px 0 30px;
  }

  .footer-sitemap {
    @media (--lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer-sitemap__logo {
    width: 80%;
    margin: 0 auto 20px;

    @media (--sm) {
      width: 300px;
      margin: 0 auto 30px;
    }

    @media (--lg) {
      margin: 0;
    }
  }

  .footer-sitemap-list {
    display: none;

    @media (--md) {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }

  .footer-sitemap-list__item {
    display: inline-block;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    @media (--sm) {
      margin-right: 12px;
    }

    @media (--md) {
      margin-right: 25px;
    }

    a {
      font-weight: bold;
      color: $color-white;
      font-size: 12px;

      &:hover {
        color: $color-main;
      }
    }
  }

  .footer-information {
    max-width: 460px;
    margin: 0 auto;

    @media (--md) {
      display: flex;
      max-width: 100%;
    }

    @media (--lg) {
      display: flex;
      margin-top: 20px;
    }
  }

  .footer-information-compamy {
    @media (--md) {
      width: 50%;
    }

    @media (--lg) {
      width: 400px;
    }
  }

  .footer-information-compamy__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .footer-information-compamy__heading {
      width: 20%;
      color: $color-white;
      font-family: $font-en;
      line-height: (20/12);
      font-size: 14px;
    }

    .footer-information-compamy__content {
      width: 78%;
      color: $color-white;
      font-size: 12px;
      line-height: 1.4;

      a {
        color: $color-white;
      }
    }
  }

  .footer-sitemap-splist {
    margin: 30px 0;

    @media (--md) {
      display: none;
    }
  }

  .footer-information-link {
    margin-top: 20px;

    @media (--sm) {
      margin-top: 40px;
    }

    @media (--md) {
      width: 50%;
      margin-top: 0;
    }

    @media (--lg) {
      width: 400px;
    }
  }

  .footer-information-linklist {
    display: flex;

    ul {
      width: 35%;

      &:last-child {
        width: 65%;
      }
    }
  }

  .footer-information-linklist__item {
    line-height: 1;
    margin-bottom: 8px;

    &::before {
      content: '・';
      display: inline-block;
      vertical-align: top;
      color: $color-main;
    }

    a {
      display: inline-block;
      color: $color-white;
      font-size: 12px;
      line-height: (14/12);

      &:hover {
        color: $color-main;
      }
    }
  }

  .footer-information-link__heading {
    margin-bottom: 10px;
    color: $color-white;
    font-family: $font-en;
    font-size: 14px;
  }

  .footer-sns {
    @media (--sm) {
      margin: 0 auto 30px;
      padding: 20px 0;
      border-bottom: 1px solid #343941;
    }

    @media (--lg) {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .footer-sns-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #343941;
    max-width: 310px;
    margin: 20px auto 0;
    padding-bottom: 20px;

    @media (--sm) {
      padding-bottom: 0;
      border-bottom: none;
    }

    @media (--lg) {
      padding-bottom: 0;
      margin: 0 0 0 auto;
    }
  }

  .footer-sns-list__item {
    a {
      display: inline-block;
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: $color-main;

      span {
        position: absolute;
        display: flex;
        align-items: center;
        width: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
      }

      svg {
        @extend %transition;

        width: 100%;
      }

      &:hover {
        background: #cc7f00;

        span {
          color: #ccc;
        }
      }
    }

    &:first-child {
      a {
        span {
          width: 13px;
        }
      }
    }
  }

  .footer-copyright {
    padding-top: 20px;

    @media (--md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .footer-copyright-contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-copyright-contact__call {
    margin-right: 10px;

    a {
      font-weight: bold;
      color: $color-main;
      font-size: 16px;

      @media (--s) {
        font-size: 22px;
      }

      @media (--md) {
        pointer-events: none;
      }

      .m-icon {
        width: 16px;
        margin-right: 4px;
      }
    }
  }

  .footer-copyright-contact__time {
    color: $color-white;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.2;

    @media (--s) {
      font-size: 12px;
    }
  }

  .footer-copyright-company {
    padding-top: 15px;
    text-align: center;
    color: $color-white;
    font-family: $font-en;

    @media (--md) {
      padding-top: 0;
    }
  }
}
